/* csp_block_start:type=IMPORTED;name=style.css */
body {
    background-color: #fafafa;
}
/* csp_block_end:type=IMPORTED;name=style.css */

/* csp_block_start:type=INTERNAL;index=1 */
h1 {
            color: darkblue;
        }
/* csp_block_end:type=INTERNAL;index=1 */

/* csp_block_start:type=INLINE;selector=#my-btn */
#my-btn {
    color: blue; padding: 10px;
}
/* csp_block_end:type=INLINE;selector=#my-btn */

/* csp_block_start:type=INLINE;selector=#new-div */
#new-div {
    background: green; padding: 20px;
}
/* csp_block_end:type=INLINE;selector=#new-div */

/* === USER CUSTOM CSS === */
.custom-highlight {
    border: 2px solid yellow;
}
